<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="addPrescription">New Prescription</h3>
</div>
<%= form_tag '/prescriptions', :method => 'post', :class => 'no-tail', :id => 'add-prescription-form' do %>
<!--
<% if controller.controller_name=='prescriptions' %>
  <div class="error_messages">
    <% if @prescription.errors.any? %>
    <ul>
      <% for message in @prescription.errors.full_messages %>
        <li class="text-error"><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
<% else %>
  <div class="error_messages"></div>
<% end %>
-->
  <div class="modal-body">
    <span class="span12">
      <label class="form-label span3">Select Pill:</label>   
      <%= select_tag "prescription[pill_name]", options_from_collection_for_select(@allPills, "id", "name") %>
    </span>
    <span class="span12">
       <label class="form-label span3">Direction:</label>
       <%= text_area_tag 'prescription[direction]', nil, :rows => 3, :required => true %>
    </span>
    <span class="span12">
      <label class="form-label span3">Start Date:</label>
      <div class="input-append date" id="prescription-date-start">
        <input class="special-place span3" id="prescription_start_date" name="prescription[start_date]" size="16" type="text" value="00-00-0000" readonly>
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
    </span>
    <span class="span12">
      <label class="form-label span3">End Date:</label>
      <div class="input-append date" id="prescription-date-end">
        <input class="special-place span3" id="prescription_end_date" name="prescription[end_date]" size="16" type="text" value="00-00-0000" readonly>
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
    </span>
    <span class="span12">
      <label class="form-label span3">Frenquency:</label>
      <%= select_tag 'prescription[servings_per_day]', '<option value=1>1 time per day</option><option value=2>2 times per day</option><option value=3>3 times per day</option>'.html_safe %>            
    </span>
    <span class="span12">
      <label class="form-label span3">Quantity:</label> 
      <%= select_tag 'prescription[quantities_per_serving]', '<option value=1>1 pill per serving</option><option value=2>2 pills per serving</option><option value=3>3 pills per serving</option><option value=4>4 pills per serving</option>'.html_safe %>
    </span>
    <%= hidden_field_tag 'prescription[patient_id]', nil %>
    <%= hidden_field_tag 'prescription[doctor_id]', session[:user_id] %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= button_tag 'Add', :type => 'submit', :class => 'btn btn-primary' %>
  </div>
<% end %>