<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="editProfile">Edit Profile</h3>
</div>
<%= form_tag '/users', :method => 'post', :class => 'no-tail', :id => 'edit-profile-form' do %>
<!--
<% if controller.controller_name=='users' %>
  <div class="error_messages">
    <% if @user.errors.any? %>
    <ul>
      <% for message in @user.errors.full_messages %>
        <li class="text-error"><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
<% else %>
  <div class="error_messages"></div>
<% end %>
-->
  <div class="modal-body">
    <span class="span12">
      <label class="form-label span4">Email(Username):</label>
      <%= text_field_tag 'user[email]', @user.email, :placeholder => 'Email address (Username)', :required => true, :tabindex => '1' %>
    </span>
    <!--
    <span class="span12">
      <label class="form-label span4">Password:</label>
      <%= password_field_tag 'user[password]', @user.password, :placeholder => 'Password', :required => true, :tabindex => '1' %>
    </span>
    <span class="span12">
      <label class="form-label span4">Password Confirm:</label>
      <%= password_field_tag 'user[password_confirmation]', @user.password, :placeholder => 'Password Confirm', :required => true, :tabindex => '1' %>
    </span>
    -->
    <span class="span12">
      <label class="form-label span4">Last Name:</label>
      <%= text_field_tag 'user[last_name]', @user.last_name, :placeholder => 'Last Name', :required => true, :tabindex => '1' %>
    </span>
    <span class="span12">
      <label class="form-label span4">First Name:</label>
    <%= text_field_tag 'user[first_name]', @user.first_name, :placeholder => 'First Name', :required => true, :tabindex => '1' %>
    </span>
    <span class="span12">
      <label class="form-label span4">Phone:</label>
      <%= text_field_tag 'user[phone]', @user.phone, :placeholder => 'Phone Number', :required => true, :tabindex => '1' %>
    </span>
    <span class="span12">
      <label class="form-label span4">Address:</label>
      <%= text_field_tag 'user[address]', @user.address, :placeholder => 'Address', :required => true, :tabindex => '1' %>
    </span>
    <span class="span12">
      <label class="form-label span4">User Type:</label>
      <%= text_field_tag 'user[usertype]', @user.usertype, :placeholder => 'Address', :required => true, :tabindex => '1', :readonly => 'readonly' %>
    </span>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
<% end %>